
.box{
    border: 1px solid black;
    margin: 10px;
    width: 350px;
    height: 200px;
    float: left;
}

.childbox{
    border: 1px solid black;
    text-align: center;
    width: 50px;
    margin-top: 85px;
    margin-left: 150px;
}