body{
    margin: 0%;
    padding: 0%;
}
    #registration-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    border: 1px solid black;
}

form>input{
    margin: 20px;
    border: 1px solid black;
}

